@import "../../resources/variables.scss";

#feedback {
  .buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;

    button {
      width: 13rem;
      font-size: inherit;
      cursor: pointer;
      padding: 0.2em 0;
      background: none;
      border-style: solid;
      border-width: 2px;

      &:hover {
        filter: brightness(3);
      }

      &.left {
        justify-self: end;
      }

      &.right {
        justify-self: start;
      }
    }
  }

  .note {
    font-size: 0.7em;
    text-align: center;
  }
}
