@import "./resources/variables.scss";

.App {
  max-width: 800px;
  font-size: 2rem;
}

@media (max-width: $mobile-width) {
  .App {
    font-size: 1.2rem;
  }

  #faq {
    margin-top: 1rem;
  }
} ;
