@import "./resources/variables.scss";

.App {
  max-width: 800px;
  font-size: 2rem;
}

#results {
  margin-top: 3rem;

  h2 {
    font-weight: normal;
    text-align: center;
  }
  .robot-message {
    display: inline-block;
    color: $red;
  }
}

#faq {
  margin-top: 4rem;

  h2 {
    text-align: center;
    color: $gunmetal;
  }

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .App {
    font-size: 1.2rem;
  }

  #results {
    margin: 0rem;

    h2 {
      margin-top: 0.5rem;
      font-size: 1.5rem;
    }
  }

  #faq {
    margin-top: 1rem;
  }
} ;
